body {
  font-family: "Open Sans Light","Droid Arabic Naskh","Mplus Fulah Light",sans-serif;
  color: #FFF;
  background-position: 0 0, 0 0, 0 0;
  background-color: #00539F;
  background-image: url('./images/header-background.png'), url('./images/blueprint.png'), url('./images/mdn-header-gradient.png');
  background-repeat: repeat, repeat, repeat-x;
}

h1, h2, h3, h4, h5, h6, .large, .component .header, .bugs-counts {
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-weight: 100;
}

.large {
  font-size: 4.5rem;
  letter-spacing: -0.188rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.125rem;
}

h2, .component .header {
  font-size: 2rem;
  letter-spacing: -0.063rem;
}

h3, .bugs-counts {
  font-size: 1.75rem;
  letter-spacing: -0.031rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: -0.016rem;
}

.small, small {
  font-size: 0.75rem;
}

main {
  position: relative;
  margin: 0 auto;
  padding: 5rem 0;
  width: 70%;
}

.components {
  padding: 0;
  color: #484848;
  margin: 1rem 0;
}

.component {
  margin: 0 auto 1rem;
}

.component .header {
  width: 35%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.5rem 0 0.25rem 3rem;
  border-left: 0.5rem solid #0095DD;
}

.component a, .component a:link, .component a:visited {
  color: #0095DD;
  text-decoration: none;
}

.comment {
  padding: 1rem 0 1rem 0.25rem;
  border: 1px solid #F6F4EC;
}

.bugs-counts {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.bugs-counts .bug-count{
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}

.bug-count-label {
  font-weight: normal;
}

.total-bugs, .open-bugs, .resolved-bugs, .priority-1-bugs, .priority-2-bugs, .new-bug {
  border-width: 0.25rem;
  border-style: solid;
}

.total-bugs {
  border-color: #E66000;
}

.open-bugs {
  border-color: #00539F;
}

.resolved-bugs {
  border-color: #30A923;
}

.priority-1-bugs {
  border-color: #EA3B28;
}

.priority-2-bugs {
  border-color: #C13832;
}

a.new-bug, a.new-bug:link, a.new-bug:visited {
  color: #FFF;
  background-color: #0095DD;
  border-color: #0095DD;
}

.component .component-section {
  border-left: 0.5rem solid #0095DD;
  width: 85%;
  background: none repeat scroll 0 0 #FFF;
  margin: 0;
  padding: 1rem;
}

.bugs-list {
  margin-top: 1rem;
}

.bugs-list-item {
  display: inherit;
  padding: 0.5rem 0 0.5rem 0.25rem;
  border: 1px solid #F6F4EC;
}

.bugs-list-label {
  font-size: 1.75rem;
  letter-spacing: -0.031rem;
  font-weight: 100;
}

.bugs-list-item:nth-child(2n) {
  background-color: #F6F4EC;
}

.system .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/system/style/icons/System_68.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.system .component-section, .system .header, .homescreen .component-section,
.homescreen .header, .keyboard .component-section, .keyboard .header,
.ftu .component-section, .ftu .header, .search .header,
.search .component-section {
  border-color: #6D6F80;
}

.settings .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/settings/style/icons/settings_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.settings .component-section, .settings .header {
  border-color: #E0E6EB;
}

.contacts .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/communications/contacts/style/icons/contacts_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.contacts .component-section, .contacts .header, .dialer .component-section,
.dialer .header, .sms .component-section, .sms .header {
  border-color: #00ADAD;
}

.dialer .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/communications/dialer/style/icons/dialer_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.sms .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/sms/style/icons/sms_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.homescreen .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/verticalhome/style/icons/vertical_68.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.keyboard .header, .ftu .header, .search .header{
  background-color: #F6F4EC;
  background-size: 2rem;
}

.music .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/music/style/icons/music_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.music .component-section, .music .header, .video .component-section,
.video .header, .camera .component-section, .camera .header,
.gallery .component-section, .gallery .header {
  border-color: #0E1214;
}

.gallery .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/gallery/style/icons/gallery_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.video .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/video/style/icons/video_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.calendar .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/calendar/style/icons/calendar_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.email .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/email/style/icons/email_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.calendar .component-section, .calendar .header, .email .component-section,
.email .header {
  border-color: #F97C17;
}

.camera .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/camera/style/icons/camera_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.clock .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/clock/style/icons/clock_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.clock .component-section, .clock .header {
  border-color: #101111;
}

.costcontrol .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/costcontrol/style/icons/costcontrol_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.costcontrol .component-section, .costcontrol .header {
  border-color: #f4f4f4;
}

.fm .header{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/fm/style/icons/fm_284.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.fm .component-section, .fm .header {
  border-color: #2F3337;
}
