body {
  font-family: "Open Sans Light","Droid Arabic Naskh","Mplus Fulah Light",sans-serif;
  color: #FFF;
  background-position: 0 0, 0 0, 0 0;
  background-color: #00539F;
  background-image: url('./images/header-background.png'), url('./images/blueprint.png'), url('./images/mdn-header-gradient.png');
  background-repeat: repeat, repeat, repeat-x;
}

h1, h2, h3, h4, h5, h6, .large {
  margin: 0;
  padding: 0;
  line-height: 100%;
  font-weight: 100;
}

.large {
  font-size: 4.5rem;
  letter-spacing: -0.188rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.125rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.063rem;
}

h3 {
  font-size: 1.75rem;
  letter-spacing: -0.031rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: -0.016rem;
}

.small, small {
  font-size: 0.75rem;
}

main {
  position: relative;
  margin: 0 auto;
  padding: 5rem 0;
  width: 70%;
}

.components {
  list-style: none;
  padding: 0;
  color: #484848;
}

.component {
  margin: 0 auto 1rem;
}

.component h2 {
  width: 35%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.5rem 0 0.25rem 3rem;
  border-left: 0.25rem solid #0095DD;
}

.system h2{
  background: url(https://raw.githubusercontent.com/mozilla-b2g/gaia/master/apps/system/style/icons/System_68.png) no-repeat scroll 0.5rem 0.25rem #F6F4EC;
  background-size: 2rem;
}

.component div {
  border-left: 0.25rem solid #0095DD;
  width: 85%;
  background: none repeat scroll 0 0 #FFF;
  margin: 0;
  padding: 1rem;
}

.system div, .system h2 {
  border-color: #6D6F80;
}

.component a, .component a:link, .component a:visited {
  color: #0095DD;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.component a:focus {
    outline: thin dotted;
}
